.container{
      background: black;
      padding-left: 17%;
      padding-right: 2%;
      padding-top: 20px;
      padding-bottom: 20px;
}

.large-container{
      padding-left: 7%;
}

.large-container h1{
      color:white;
}

/* now i will make our clone responsive */
@media(max-width:900px){
      .large-container, .container{
            padding-left: 5%;
            padding-right: 5%;
      }
}